.button-acceso
{
	font-family: 'Graphik'; 
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	filter: drop-shadow(0px 1px 0.6px rgba(0, 0, 0, 0.08));
	transition: all ease-out 0.2s;
	border-radius: 10px 10px 10px 10px;
}
	.button-acceso.color-r
	{
		color: black;
		background-color: white;
		border: 1.4px solid #e81d75;
		margin: 5px 1.5px 5px 1.5px;
	}
		.button-acceso.color-r:hover
		{
			color: white;
			background-color: #e81d75;
			border: 1.4px solid #e81d75;
			border-radius: 6px 20px 20px 16px;
		}
	.button-acceso.color-a
	{
		color: black;
		background-color: white;
		border: 1.4px solid #c9ebf6;
		margin: 5px 1.5px 5px 1.5px;
	}
		.button-acceso.color-a:hover
		{
			color: white;
			background-color: #68bed7;
			border: 1.4px solid #68bed7;
			border-radius: 6px 20px 20px 16px;
		}