.img-card-vent
{
	width: 120px;
	padding: 18px 0px 18px 0px;
}

.img-ofrecer
{
	width: 300px;
	padding: 18px 0px 18px 0px;
}

.img-app-tc
{
	width: 60%;
	max-width: 500px;
}

.img-blanco
{
	width: 30%;
	max-width: 500px;
	padding-bottom: 15px;
}