*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: linear-gradient(100deg, rgba(228,53,122,1) 3%, rgba(95,84,162,1) 50%, rgba(104,190,215,1) 90%);
}

.h-titulo-cab
{
	font-family: 'Montserrat';
	font-weight: 700;
	color: white;
	filter: drop-shadow(0px 1px 0.8px rgba(0, 0, 0, 0.1));
	font-size: auto;
}

.sec-logo
{
	background-repeat: no-repeat;
	background-position: right bottom, left bottom, left top, right top;
	background-size: 93%, 93%, 13%, 13%;	
	background-attachment: scroll;
	padding-top: 100px;
	padding-bottom: 100px;
}
	.img-tc
	{
		margin: auto;
	}
		.img-logo-tc
		{
			width: 90%;
			max-width: 500px;
		}
		.img-app-tc
		{
			width: 60%;
			max-width: 500px;
		}
			.slogan
			{
				font-family: 'Graphik'; 
				font-weight: 300; 
				font-style: normal;
				font-size: 140%;
				padding-left: 42px;
				padding-right: 42px;
				color: white;
			}

.sec
{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 38px;
	padding-bottom: 38px;
	margin: auto;
}
	.sec.index-b
	{
		background: url(../img/bg-tucolor-5.png), 
					url(../img/bg-tucolor-6.png), 
					url(../img/bg-tucolor-7.png), 
					url(../img/bg-tucolor-8.png), 
					url(../img/bg-tucolor-9.png), 
					url(../img/bg-tucolor-10.png);
		background-repeat: no-repeat;
		background-position: left top, right top, left center, right center, left bottom, right bottom;
		background-size: 10%, 10%, 8%, 8%, 25%, 28%;
		background-color: white;
		filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.18));
	}
	.sec.index-tr
	{
		background-color: transparent;
	}
	.sec.nos-b
	{
		background: url(../img/bg-tucolor-11.png), 
					url(../img/bg-tucolor-13.png),
					url(../img/bg-tucolor-12.png),
					url(../img/bg-tucolor-14.png);
		background-repeat: no-repeat;
		background-position: left top, right top, right bottom, left bottom;
		background-size: 20%, 12%, 20%, 12%;
		background-color: white;
		filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.18));
	}
	.sec.nos-tr
	{
		background-color: transparent;
	}
	.sec.prod-b
	{
		background: url(../img/bg-tucolor-11.png), 
					url(../img/bg-tucolor-13.png),
					url(../img/bg-tucolor-12.png),
					url(../img/bg-tucolor-14.png);
		background-repeat: no-repeat;
		background-position: left top, right top, right bottom, left bottom;
		background-size: 20%, 12%, 20%, 12%;
		background-color: white;
		filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.18));
	}
	.sec.prod-tr
	{
		background-color: transparent;
	}
	
	.sec.cont-b
	{
		background: url(../img/bg-tucolor-11.png), 
					url(../img/bg-tucolor-13.png),
					url(../img/bg-tucolor-12.png),
					url(../img/bg-tucolor-14.png);
		background-repeat: no-repeat;
		background-position: left top, right top, right bottom, left bottom;
		background-size: 20%, 12%, 20%, 12%;
		background-color: white;
		filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.18));
	}
	.sec.cont-tr
	{
		background-color: transparent;
	}

.titulos-sn
{
	font-family: 'Montserrat';
	font-weight: 600;
	color: #303734;
	padding-top: 15px;
	filter: drop-shadow(0px 1px 0.8px rgba(0, 0, 0, 0.1));
}
	.desc-sn
	{
		font-family: 'Graphik'; 
		font-weight: 300;
		font-style: normal;
		color: #4F5855;
		font-size: 18px;
		padding-bottom: 30px;
		padding-top: 15px;
	}
.titulos-sb
{
	font-family: 'Montserrat';
	font-weight: 600;
	color: white;
	padding-top: 15px;
	filter: drop-shadow(0px 1px 0.8px rgba(0, 0, 0, 0.1));
}
	.desc-sb
	{
		margin: auto;
		font-family: 'Graphik'; 
		font-weight: 300;
		font-style: normal;
		color: white;
		font-size: 18px;
		padding-bottom: 30px;
		padding-top: 15px;
	}
	.desc-sb.nof
	{
		padding-top: 30px;
	}

.button-acceso
{
	font-family: 'Graphik'; 
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	filter: drop-shadow(0px 1px 1.2px rgba(0, 0, 0, 0.14));
	transition: all ease-out 0.2s;
	border-radius: 10px 10px 10px 10px;
}
	.button-acceso.color-1
	{
		color: black;
		background-color: white;
		margin: 0px 0px 24px 0px;
	}
		.button-acceso.color-1:hover
		{
			color: #0080a3;
			border-radius: 6px 20px 16px 20px;
		}
	.button-acceso.color-2
	{
		color: black;
		background-color: white;
		border: 1.4px solid #f5cddc;
		
	}
		.button-acceso.color-2:hover
		{
			color: white;
			background-color: #d4326e;
			border: 1.4px solid #d4326e;
			border-radius: 8px 8px 20px 20px;
		}
	.button-acceso.color-3
	{
		color: black;
		background-color: white;
		border: 1.4px solid #c9ebf6;
		margin: 5px 1.5px 5px 1.5px;
	}
		.button-acceso.color-3:hover
		{
			color: white;
			background-color: #68bed7;
			border: 1.4px solid #68bed7;
			border-radius: 6px 20px 20px 16px;
		}
	.button-acceso.filtro
	{
		background-color: transparent;
		color: #575e5c;
		filter: drop-shadow(0px 1.2px 0.4px rgba(0, 0, 0, 0.15));
		margin: 0px 0px 2px 0px;
	}
		.button-acceso.filtro:hover
		{
			color: black;
		}

.prod-seleccion
{
	padding: 5px 0px 5px 0px;
}
	.prod-seleccion.menu
	{
		border-radius: 20px 20px 8px 8px;	
		margin: 0px 0px 10px 0px;
	}
	.prod-seleccion.lista
	{
		border-radius: 6px 6px 20px 20px;
		margin: 0px 0px 20px 0px;
	}

.img-card-vent
{
	width: 80px;
	padding: 18px 0px 16px 0px;
	filter: drop-shadow(0px 1.9px 0.5px rgba(0, 0, 0, 0.25));
}

.form-di
{
	margin:0 auto;
	padding: 0;
	filter: drop-shadow(0px 1px 1.6px rgba(0, 0, 0, 0.20));
}
	.modal-content
	{
		background-color: white;
		padding: 0 20px;
		border: 0;
		border-top-left-radius: 12px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 12px;
	}
		.titulo-form
		{
			font-family: 'Montserrat';
			font-weight: 500;
			color: #464E4C;
			padding-top: 24px;
			filter: drop-shadow(0px 1px 0.6px rgba(0, 0, 0, 0.1));
		}
			.form-group input
			{
				margin: 10px 0px 10px 0px;
				font-size: 15px;
				border: 0;
				border-radius: 6px;
				background-color: #F7FEFE;
				filter: drop-shadow(0px 1.2px 1.4px rgba(0, 0, 0, 0.22));
			}
			.caja-texto
			{
				margin: 8px 0px 18px 0px;
				font-size: 15px;
				border: 0;
				border-radius: 6px;
				background-color: #F7FEFE;
				filter: drop-shadow(0px 1.2px 1.4px rgba(0, 0, 0, 0.22));
			}
				.button-enviar
				{
					font-family: 'Graphik'; 
					font-weight: 500;
					font-style: normal;
					font-size: 16px;
					color: black;
					background-color: white;
					filter: drop-shadow(0px 1px 1.2px rgba(0, 0, 0, 0.14));
					margin: 0px 0px 24px 0px;
					border: 1.4px solid #E2E2FB;
					border-radius: 10px 10px 10px 10px;
					transition: all ease-out 0.2s;
				}
					.button-enviar:hover
					{
						color: white;
						background-color: #5d5caa;
						border: 1.4px solid #5d5caa;
						border-radius: 8px 20px 20px 18px;
					}
				.button-limpiar
				{
					font-family: 'Graphik'; 
					font-weight: 500;
					font-style: normal;
					font-size: 16px;
					color: #575e5c;
					background-color: transparent;
					filter: drop-shadow(0px 1.2px 0.5px rgba(0, 0, 0, 0.15));
					margin: 0px 0px 24px 0px;
					transition: all ease-out 0.2s;
				}
					.button-limpiar:hover
					{
						color: black;
					}

.map-responsive
{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe
{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}